<div class="main-container">
    <p-card styleClass="card">
        <ng-template #title styleClass="title"> Réparez votre vélo en un clic </ng-template>
        <div class="text"> Réservez votre technicien grâce à notre service de réservation en ligne </div>
        <div class="card-footer">
            <div>
                <div>
                    <label for="username">Veuillez renseigner votre adresse</label>
                    <input #placesRef="ngx-places" ngx-gp-autocomplete class="input-adress" (onAddressChange)="handleAddressChange($event)"
                    placeholder="Entrez votre adresse" />
                </div>
                <div class="confirm-adress">
                    <p-button label="Confirmer" [disabled]="!placesRef?.place" (click)="navigateToPlanning()" />
                </div>
            </div>
            <div class="or-container">
                <p-divider layout="vertical"><b>OU</b></p-divider>
            </div>
            <div>
                <p-button label="Connexion" icon="pi pi-user-plus" severity="success" (click)="navigateToLogin()"/>
            </div>
        </div>
    </p-card>
</div>
